.wave {
    animation: wave 1s linear infinite;
    animation-play-state: paused;
    transform: scale(0);
}

.wave:nth-child(2) {
    animation-delay: 0.2s;
    transform: scale(0.5);
}

.wave:nth-child(3) {
    animation-delay: 0.4s;
    transform: scale(1);
}

.wave:nth-child(4) {
    animation-delay: 0.6s;
    transform: scale(0.5);
}

.wave:nth-child(5) {
    animation-delay: 0.8s;
    transform: scale(0);
}

@keyframes wave {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

.active .wave {
    animation-play-state: running;
}